mixin article(previewText,link)
	article(class="health-article")
		div(class="article-img")
			i(class="fa-solid fa-image")
		p(class="article__preview")= previewText
		a(class="article__link" href=link) Read Article