html(lang="en")
	head
		meta(view-port="width=device-width;initial-scale=1.0")
		meta(charset="utf-8")

		link(rel="stylesheet" type="text/css" href="/styles/global.css")
		block page-styles

		script(src="https://kit.fontawesome.com/de38352bbc.js" crossorigin="anonymous")
			
		title= title
	body
		include ./static/header.pug

		main(class="page-content")
			block page-content

		include ./static/footer.pug