html(lang="en")
	head
		meta(view-port="width=device-width;initial-scale=1.0")
		meta(charset="utf-8")

		link(rel="stylesheet",type="text/css",href="/styles/index.css")

		
		title title
	body
		include ./static/header.pug

		block page-content

		include ./static/footer.pug