header(class="page-header flex-container")
	h2(class="page-header__title")
		a(href="/") Home
	include navbar.pug
	div(class="page-search")
		form(class="page-search-form" action="/search" method="post")
			input(class="page-search__input" type="search" placeholder="Search")
			i(class="fa-solid fa-magnifying-glass")
			input(type="submit" value="")