header(class="page-header flex-container")
	div(class="page-header-title")
		a(href="/") 
			img(src="/imgs/logo.svg")
			h2(class="page-header__title") Psycare
	include navbar.pug
	div(class="page-search")
		form(class="page-search-form" action="/search" method="post")
			input(class="page-search__input" type="search" placeholder="Search")
			i(class="fa-solid fa-magnifying-glass")
			input(type="submit" value="")