header(class="page-header")
	h1(class="page-header__title")
		a(href="/") Home
	nav(class="page-navigation")
		ul(class="nav-list")
			li(class="nav-list__item")
				a(href="/find-a-professional") Find a Professional
			li(class="nav-list__item")
				a(href="/doctors") Doctor Profiles
			li(class="nav-list__item")
				a(href="/forums") Forums
			li(class="nav-list__item")
				a(href="/articles") Mental Health Articles
			li(class="nav-list__item")
				a(href="/mental-illness-directory") Mental Illness Directory
			li(class="nav-list__item")
				a(href="/support") Support