nav(class="page-navigation")
	ul(class="nav-list flex-container")
		li(class="nav-list-item")
			a(class="nav-list__link" href="/find-a-professional") Find a Professional
				//- i(class="fa-solid fa-house-chimney") 
				//- span 
			ul(class="subnav-list")
				li(class="subnav-list-item")
					a(class="subnav-list__link" href="/doctors") Doctor Profiles
				li(class="subnav-list-item")
					a(class="subnav-list__link" href="/book-appointment") Book Appointment
		li(class="nav-list-item")
			a(class="nav-list__link" href="/mental-illness-conditions") Mental Illness Conditions
				//- i(class="fa-solid fa-people-group")
				//- span Mental Illness Definitions
		li(class="nav-list-item")
			a(class="nav-list__link" href="/articles") Articles
				//- i(class="fa-solid fa-newspaper")
				//- span Mental Health Articles
		li(class="nav-list-item")
			a(class="nav-list__link" href="/community") Psycare Community
				//- i(class="fa-solid fa-magnifying-glass")
				//- span Media
			ul(class="subnav-list")
				li(class="subnav-list-item")
					a(class="subnav-list__link" href="/forums") Forums
				li(class="subnav-list-item")
					a(class="subnav-list__link" href="/") Your Stories
		li(class="nav-list-item")
			a(class="nav-list__link" href="/support") Learn to Cope
				//- i(class="fa-solid fa-calendar-check")
				//- span Learn to Cope
		li(class="nav-list-item")
			a(class="nav-list__link" href="/about-us") About Us