/*
	Home Styling

	  Table of Contents
	-----------------------
	1. GLobal
	2. Utilities
	3. Announcements
	4. Professional Search
	5. Tools for Coping
	6. Health Articles
	7. User Stories
*/

/**************/
/*   Global   */
/**************/
section {
	padding: 2rem;
}

/*****************/
/*   Utilities   */
/*****************/

/*********************/
/*   Announcements   */
/*********************/
section.announcements {
	background-color: var(--primary-color);
}
.announcement-message {
	border-right: 2px solid black;
	display: inline-block;
	padding-right: 5rem;
	position: relative;
	flex: 1 1 0;
}
h2.announcement__title {
	margin-top: 0rem;
}
a.announcement__link {
	background-color: var(--secondary-color);
	border-radius: 0.25rem;
	padding: 0.35rem 1rem;
}
.announcement-infographic {
	background-image: url("/imgs/hospital.jpeg");
	background-position: center;
	position: relative;
	overflow: hidden;
	flex: 2 2 0
}
.announcement-infographic::after {
	background-image: linear-gradient(transparent,rgba(0,0,0,.75) 40%,rgba(0,0,0,.8));
	content: "";
	position: absolute;
	height: 12rem;
	bottom: -6rem;
	width: 100%;
}
.infographic-content {
	position: absolute;
	padding: 0rem 3rem;
	bottom: 5%;
	z-index: 1;
	color: var(--font-color);
}
.infographic-content > a {
	text-decoration: underline;
}

/***************************/
/*   Professional Search   */
/***************************/
.search-cont {
	background-color: white;
	border: 1px solid black;
	border-radius: 0.5rem;
	align-items: center;
	text-align: center;
	min-width: 45rem;
	display: flex;
	margin: auto;
	width: 70%;
}
article.search-info {
	background-color: var(--primary-color);
	border-radius: 0.5rem;
	padding: 0.5rem;
	flex: 1 0 0;
}
.search-cont > form {
	margin: 0rem;
	flex: 2 0 0;
}
label.professional-search__label {
	display: none;
	/*margin: 0rem 4rem;*/
}
.search-input-cont {
	position: relative;
	width: fit-content;
	display: inline;
}
.search__input {
	padding: 0.25rem 0.5rem 0.25rem 2rem;
	border: 2px solid var(--secondary-color);
	border-radius: 2rem;
	font-size: 1rem;
	width: 80%;
}
.search__input:focus {
	outline: none;
}
i.search-icon {
	position: relative;
	left: 1.75rem;
}
.search-input-cont input[type="submit"] {
	background: transparent;
	position: absolute;
	border: none;
	width: 1.25rem;
	height: 1.25rem;
	right: 7%;
	top: -8%;
}

/************************/
/*   Tools for Coping   */
/************************/
section.tools-for-coping {
	position: relative;
	text-align: center;
}
.coping-tools__title {
	margin-top: 0rem;
	margin-bottom: 2rem;
}
.tools-for-coping i {
	font-size: 2rem;
}
.tools {
	display: inline-block;
	width: calc(100vw - 14rem);
}
.tools > div {
	justify-content: space-around;
}
img.tool__icon {
	width: 5rem;
}
.tool__text {
	font-size: 1.2rem;
}
.more-tools__link {
	position: absolute;
	color: black;
	width: 5rem;
	right: 2rem;
	top: 41%;
}
.more-tools__link:hover > span {
	text-decoration: underline;
}
.more-tools__link > i {
	text-align: center;
	display: block;
}
.more-tools__link > span {
	display: block;
	margin: 1rem 0rem;
}

/***********************/
/*   Health Articles   */
/***********************/
section.health-articles {
	/*background-color: lightgray;*/
}
.health-articles__title {
	text-align: center;
	margin-bottom: 4rem;
}
.articles {
	justify-content: center;
	gap: 2rem;
}
article.health-article {
	background-color: white;
	position: relative;
	width: min-content;
}
.article-blank-img {
	background-color: lightslategray;
	padding: 2rem;
	text-align: center;
}
/*.article-img {
}
.article-img > i {
	font-size: 5rem;
}*/
.article__preview {
	padding: 1rem;
	margin-bottom: 3rem;
	text-align: center;
}
.article__link {
	position: absolute;
	margin: 1rem;
	bottom: 0rem;
	color: black;
}
.article__link:hover {
	text-decoration: underline;
}

/********************/
/*   User Stories   */
/********************/
section.patient-testimonies {
	/*background-color: var(--primary-color);*/
}
.patient-testimonies__title {
	text-align: center;
	margin-bottom: 4rem;
}
article.patient-testimony {
	justify-content: space-around;
	margin: auto;
	margin-bottom: 3rem;
	width: 80%;
}
article.patient-testimony:nth-of-type(even) > .testimony {
	order: -1;
}
.testimony__img {
	width: 20rem;
}
/*.testimony__empty-img {
	background-color: lightslategray;
	padding: 4rem;
	text-align: center;
	margin: 0rem 3rem;
}
.testimony__empty-img > i {
	font-size: 4rem;
}*/
.testimony {
	margin: 0rem 3rem;
	width: 20rem;
}
/*div.more-testimonials {
	position: relative;
	width: fit-content;
	margin: auto;
}
a.more-testimonials__link {
	position: relative;
	border: 1px solid black;
	display: inline-block;
	font-size: 1.5rem;
	padding: 2rem 10rem;
	z-index: 1;
	mix-blend-mode: difference;
}*/
footer.testimonials-footer {
	background-color: white;
	display: flex;
	justify-content: center;
}
div.more-testimonials {
	background-color: black;
	transition: width 0.5s linear 0s;
	width: 0%;
}
div.more-testimonials:hover {
	width: 100%;
}
a.more-testimonials__link {
	color: black;
	width: fit-content;
	display: block;
	border: 1px solid black;
}
a.more-testimonials__link::after {
	content: "Read More Stories";
	padding: 2rem 10rem;
	width: max-content;
	font-size: 1.5rem;
	display: block;
	color: white;
	mix-blend-mode: difference;
}